@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/design-system.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply bg-background text-foreground antialiased;
  }

  body {
    @apply bg-background text-foreground overflow-x-clip antialiased;
  }

  button,
  a,
  select,
  [role="button"] {
    @apply cursor-pointer;
  }

  button:disabled,
  a:disabled,
  [role="button"]:disabled {
    @apply cursor-not-allowed;
  }
}
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
  }
}
